h1{
    font-size: 56;
}
h2{
    font-size: 40;
}
h3{
    font-size: 32;
    font-weight: bold;
}
h4{
    font-size: 28;
}
h5{
    font-size: 24;
    font-weight: bold;
}
.sideNavDark{
    background-color:  #181818;
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 16px;
}
.card-body{
    background-color: #3A3A3A;
    border: 20px;
}
thead{
    background-color: "#282828";
    color: "#656565";
}
.accordion-item *{
    color: #ABABAB;
    background-color: #1E1E1E;
}
thead{
    background-color: #282828;
    border-radius: 10px;
    border: none;
}
td{
    border: none;
}
.customClass{
    background-color: red;
}