h1 {
    font-size: 56;
}
h2 {
    font-size: 40;
}
h3 {
    font-size: 32;
    font-weight: bold;
}
h4 {
    font-size: 28;
}
h5 {
    font-size: 24;
    font-weight: bold;
}
.sideNavDark {
    background-color: #181818;
    color: #ffffff;
    font-family: "Inter";
    font-size: 16px;
}
.card-body {
    background-color: #3a3a3a;
    border: 20px;
}

.accordion-item * {
    color: #ababab;
    background-color: #1e1e1e;
}
thead {
    background-color: #282828;
    border-radius: 10px;
    border: none;
    color: "#656565";
}
td {
    border: none;
}
.customClass {
    background-color: red;
}
