// Overwrite theme variables
$primary: #F99A4D;
$dark:#181818;
$body-bg: #0F0F0F;
$body-color: #ABABAB;
$card-border-radius: 20px;

$black: #0F0F0F;
$dark-bg-gray: #181818;
$bg-gray-2: #1E1E1E;
$bg-gray:#282828;
$divider-gray: #282828;
$light-stroke-gray: #3A3A3A;
$stroke-gray: #404040;
$gray: #656565;
$light-gray: #ABABAB;
$white: #FFFFFF;

$orange: #FF7A49;
$dark-orange: #E65425;
$red: #E9132D;
$yellow:#FCC02A;
$green: #42A04B;
$blue: #426CFF;
$violet: #8362EA;

// $gradient-orange-1: #FF7A49-F99A4D;
// $gradient-orange-2: #ABABAB;
// $gradient-blue: #FFFFFF;
// $gradient-green: #ABABAB;
// $gradient-violet: #FFFFFF;

@import '~bootstrap/scss/bootstrap.scss';

